<?xml version="1.0"?>
<configuration>


  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>

    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJson" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="EmpresaXYZ.WebService.ClienteService"  behaviorConfiguration="ServiceBehaviour">
        <endpoint address="" bindingConfiguration="webHttpBindingWithJson" binding="webHttpBinding" behaviorConfiguration="web"  contract="EmpresaXYZ.WebService.IClientesService" />
        <endpoint contract="EmpresaXYZ.WebService.IClientesService" binding="mexHttpBinding" address="mex" />
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour" >
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true"  defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

  </system.serviceModel>

</configuration>
